requests 
fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
pymysql
pydantic
fuzzywuzzy
python-Levenshtein # fuzzywuzzy requires this for improved performance
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
python-dotenv
pydantic[email]